## Configuration flags PMM Agent
#
# Please see the documentation for the latest list of supported flags:
# https://docs.percona.com/percona-monitoring-and-management/details/commands/pmm-agent.html
{% for var, val in pmm_agent_setup_flags_merged.items() %}
--{{ var }}
{%- if val|string not in ['True', 'False'] %}
={{ val }}
{% else %}

{% endif %}
{% endfor %}
{{ ansible_host }}
generic
{{ inventory_hostname }}
