---
all:
  vars:
    pmm_version: '2'
  hosts:
    {{ .Config.Monitor }}:
      ansible_host: localhost
      ansible_connection: local
      container_engine: podman
  children:
    cloud:
      children:
        azure:
        cloudsql:
        rds:
    dbservers:
      children:
        cloud:
        mongodb:
        mysql:
        postgresql:
    ha:
      children:
        haproxy:
        proxysql:
    pmm_clients:
      children:
        dbservers:
    azure:
      hosts:
      vars:
    cloudsql:
      hosts:
      vars:
    haproxy:
      hosts:
      vars:
    mongodb:
      hosts:
      vars:
    monitors:
      hosts:
        {{ .Config.Monitor }}:
      vars:
    mysql:
      hosts:
      vars:
    postgresql:
      hosts:
      vars:
    proxysql:
      hosts:
      vars:
    rds:
      hosts:
      vars:
...

