[Unit]
Description=pmm-agent
After=time-sync.target network.target

[Service]
Type=simple
ExecStart={{ pmm_client_extract_base }}/pmm/bin/pmm-agent --config-file={{ pmm_client_extract_base }}/pmm/config/pmm-agent.yaml
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
