
module fusefs_sock_file {{ container_semodule_version }};

require {
	type fusefs_t;
	type container_t;
	class sock_file { create link setattr unlink write };
}

#============= container_t ==============
allow container_t fusefs_t:sock_file { create link setattr unlink write };
