---
# It is necessary to set pmm_admin_credentials via your inventory
# This should ideally be encrypted and use either of the following in your environment:
# - ANSIBLE_VAULT_PASSWORD_FILE=/path/to/secret
# - ANSIBLE_ASK_VAULT_PASS=1
# Other environment variables my be required, such as ANSIBLE_VAULT_IDENTITY
# If you are using a token then set pmm_admin_credentials to the token value,
# otherwise when using a username and password then use the form username:password
# Automation will process the value as follows:
# pmm_admin_credentials | split(":")
# if empty then faile
# else if length is 1 then presume a token
# else presume a username and password
pmm_admin_credentials: "admin:admin"
pmm_admin_set_password: true

pmm_agent_token: ''
pmm_agent_setup_flags:
  server-address: '{{ pmm_server_host_public | default(hostvars[groups["monitors"] | first].ansible_host) }}:{{ pmm_server_port }}'
  server-username: api_key
  server-password: '{{ pmm_agent_token }}'
  server-insecure-tls: '{{ pmm_server_insecure }}'

# Currently, only tarball client installs will be performed.
# OS packages and containers to be added later
pmm_client_home_dir: '{{ ansible_env.HOME }}'
pmm_client_deploy_using: tarball
pmm_client_extract_base: '{{ pmm_client_home_dir }}'
pmm_client_force_setup: false
pmm_client_tarball_uri: 'https://downloads.percona.com/downloads/pmm2/{{ pmm_version }}/binary/tarball/pmm2-client-{{ pmm_version }}.tar.gz'
pmm_client_tarball_uri_checksum: '{{ pmm_client_tarball_uri }}.sha256sum'

pmm_container_env:
  DATA_RETENTION: 720h
  DISABLE_TELEMETRY: 0
  DISABLE_UPDATES: 1
  ENABLE_ALERTING: 1
  ENABLE_AZUREDISCOVER: '{{ ("azure" in groups and groups["azure"] | length > 0) | int }}'
  ENABLE_BACKUP_MANAGEMENT: 0
  ENABLE_DBAAS: 0
  METRICS_RESOLUTION_HR: 5s
  METRICS_RESOLUTION_LR: 1h
  METRICS_RESOLUTION_MR: 5m
pmm_container_env_file: /usr/local/percona/.pmm-server
pmm_container_extra_args: ' --ulimit=host -p 8443:443/tcp --volume=pmm-data:/srv:z '
pmm_container_image_repo: '{{ "docker.io/perconalab" if [pmm_version]|intersect(["dev-latest"]) else "docker.io/percona" }}'
pmm_container_port: 8443
pmm_container_volume: pmm-data

pmm_deploy_using: podman

pmm_manage_users: []
# - user: xxx
#   login: xxx
#   password: xxx | omit to avoid account creation
#   role: Admin | Editor | Viewer
#   is_grafana_admin: false | omit to avoid Grafana admin permissions
#   requires_token: true | omit or set to false to skip tokens

pmm_server_host: 127.0.0.1
pmm_server_host_public: '{{ hostvars[groups["monitors"] | first].ansible_default_ipv4.address }}'
pmm_server_insecure: '{{ [pmm_server_host] | intersect(["localhost", "127.0.0.1"]) | length == 0 }}'
pmm_server_port: '{{ pmm_container_port }}'
pmm_server_schema: https

pmm_version: 2.28.0
...
