---
name: CI
on:
  pull_request:
    branches:
    - main
    paths:
    - 'automation/**'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Prepare Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
          check_latest: true

      - name: Prepare environment
        run: |
          apt update -qqy
          apt install -qqy podman buildah ansible-lint

      - name: Checkout codebase
        uses: actions/checkout@v3

      - name: Build gascan for Ubuntu Jammy
        run: |
          make all_jammy

      - name: Test extract-bundle
        run: |
          ./build/gascan -extract-bundle
          test -f ~/bin/ansible.pex
...
